
    @import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:wght@300;400&family=Ubuntu&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Nova+Mono&family=Nunito:wght@500&family=Open+Sans:wght@300;400;500&family=Ubuntu&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Fira+Mono&family=Nova+Mono&family=Nunito:wght@500&family=Open+Sans:wght@300;400;500&family=Ubuntu&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Fira+Mono&family=Nova+Mono&family=Nunito:wght@500&family=Open+Sans:wght@300;400;500&family=Poppins&family=Ubuntu&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Fira+Mono&family=Nova+Mono&family=Nunito:wght@500&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400&family=Ubuntu&display=swap');

    .col {
        background-image: url('img/textwater.png');
    }


    .img-fluid {
        width: 83%;
    }

    h3 {
        font-family: "Open Sans", sans-serif;
    }

    .att {
        background-color: #ffb6c190;
        width: 15%;
        border-radius: 5px;
        margin: auto
    }

    /* Dropdown class */
    .effect3 {
        background-color: transparent !important;
        color: red !important;
        border-radius: 20px !important;
        box-shadow: 0px 5px red !important;
        font-family: "Nunito", sans-serif;
        border: 2px solid red !important;
    }

    .choose {
        margin-left: 43.5em !important;
        margin-top: 1em !important;
    }


    .sol2 {
        font-family: "Nunito", sans-serif;
        text-shadow: 1px 1px red;
    }

    h1 {
        font-family: "Alumni Sans Inline One", cursive;
        font-size: 4.5em;

        color: red;
    }

    .mainimg:hover {
        filter: drop-shadow(5px 5px 5px #9f9f9f);
    }

    .sol {
        font-size: 2.6em;
        display: flex;
        color: red;
        border: 2px solid;
        border-radius: 24px;
        box-shadow: 10px 10px #fe5353;
        width: 26em !important;
        font-family: "Nunito", sans-serif;
        text-shadow: 1px 1px red;
        margin-left: 3em;
        font-family: "Nunito", sans-serif;
        text-shadow: 1px 1px red;
        align-content: center;
        justify-content: center;
    }

    .integerate {
        font-size: 55px;
    }



    @media only screen and (max-width: 760px) {
        .chapter-name {
            font-size: 1.5em !important;
            padding: 2px;
            /* margin: 0em; */
            margin-left: 0.5em !important;
            font-family: "Nunito", sans-serif !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        .select h3 {
            margin-right: 0 !important;
            margin-bottom: 10px !important;
        }

        .select {
            align-items: center !important;
            flex-direction: column !important;
        }

        .wrapper {
            width: 45% !important;
        }

        .head-commt {
            margin: 0 !important;
        }

        .img-fluid {
            width: 100%;
        }

        .rate {
            margin-left: 2px;
            font-weight: 500;
            margin-right: -3em;

        }

        .comment .rating {
            margin-left: -23px !important;
        }

        .comment .comment-box h4 {
            font-size: 0.9em !important;
            font-family: 'Poppins', sans-serif !important;
        }

        .comment .send {
            margin-right: -3em;
            width: 5em;
            border-radius: 8px;
        }

        .comment-area textarea {
            height: 103px;
            width: 285px;
            margin-top: 0.1em;
            margin-left: -1em;
        }

        .cmmnt {
            width: 82% !important;
        }

        .cmmnt-detail {
            margin: auto;
            width: 73% !important;
        }

        .star {
            margin-top: -1.5em;

        }

        .commentaler {
            width: 82% !important;
        }

        .comment .card {
            width: 377px !important;
            height: 286px !important;
        }

        .pull-right {
            margin-left: -1em !important;
        }

        .comment .col-2 img {
            width: 122px;
            margin-top: -1em;
        }



        .res {
            margin-left: 4.5em !important;
        }

        .large {
            margin-left: 1.5em !important;
        }

        .att {
            width: 40%;
        }

        .choose {
            margin-left: 8em !important;
            margin-top: 1em !important;
        }

        .sol {
            font-size: 2em;
            color: red;
            border: 2px solid;
            border-radius: 24px;
            box-shadow: 10px 10px #fe5353;
            width: 11em !important;
            margin-left: 0.5em;
            font-family: "Nunito", sans-serif;
            text-shadow: 1px 1px red;
        }

    }


    .commentaler {
        width: 60%;
        margin: auto;
        margin-bottom: 1em;
        color: black;
        font-weight: 500;
    }

    .select {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .select h3 {
        margin-bottom: 0;
        font-weight: 600;
        margin-right: 16px;
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .comment .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        padding: 20px;
        width: 545px;
        height: 347px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
    }

    .comment .comment-box {
        padding: 5px
    }


    .comment .comment-area textarea {
        resize: none;
        border: 1px solid #ad9f9f
    }

    .comment .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
    }

    .rate {
        margin-top: 0.7em;
        margin-left: 11px;
        font-weight: 500;
        font-size: 0.8em;
    }

    .comment .send {
        color: #fff;
        background-color: #ff0000;
        border-color: #ff0000;
        /* width : 6em;
    border-radius: 10px;
   
    margin-right: -1.8em; */
        width: 6em;
        border-radius: 10px;
        margin-right: -1.8em;

    }

    .comment .send:hover {
        color: #fff;
        background-color: #f50202;
        border-color: #f50202
    }

    .comment .rating {
        display: flex;
        margin-top: -10px;
        flex-direction: row-reverse;
        margin-left: -4px;
        float: left
    }

    .comment .rating>input {
        display: none
    }

    .comment .rating>label {
        position: relative;
        width: 19px;
        font-size: 25px;
        color: #ff0000;
        cursor: pointer
    }

    .comment .rating>label::before {
        content: "\2605";
        position: absolute;
        opacity: 0
    }

    .comment .rating>label:hover:before,
    .comment .rating>label:hover~label:before {
        opacity: 1 !important
    }

    .comment .rating>input:checked~label:before {
        opacity: 1
    }

    .comment .rating:hover>input:checked~label:before {
        opacity: 0.4
    }

    .comment .comment-box h4 {
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 12px;
    }

    .comment-area {
        width: 79%;
    }

    .cmmnt {
        box-shadow: 8px 3px 0 0 rgba(253, 94, 94, 0.707);
        border-radius: 9px;
        background: #fccece5c;
        width: 27%;
        text-align: justify;
        margin: auto;
        padding: 1.2em 1.4em;
        font-size: 0.6em;
        font-family: 'Poppins', sans-serif;
    }

    .allcmmnts {
        display: flex;
        flex-direction: column;
    }

    .cmmnt-detail {
        margin: auto;
        width: 30%;
    }

    .cmmnt-detail span {
        font-weight: bold;
        font-size: 17px;
        float: right;
        font-family: "Nunito", sans-serif;
    }

    .date {
        margin-left: 1em;
    }

    .name {
        margin-left: 1em;
    }

    .dash {
        margin-left: 1em;
    }

    .chapter-name {
        font-size: 2em;
        display: flex;
        font-weight: 900;
        color: red;
        font-family: "Nunito", sans-serif;
        align-content: center;
        justify-content: center;
        margin-left: -9px;
    }

    .wrapper{
        width: 14%!important;
    }